<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <script defer src="/scripts/script.js"></script>
    <title>BNR Radio</title>
</head>

<body>
    <header>
        <img src="/Logo-BNR-Business-Beats/BNR-Logo-Business-Beats.png" height="100" width="100" alt="">
    </header>