* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: all .2s ease-out;
    font-family: "Cairo", sans-serif;
    
}

*:lang(ar) {
    text-align: right;
    /* color: red; */
    direction: rtl;
    -webkit-locale: "ar";
}

*:lang(en) {
    text-align: left;
    /* color: blue; */
    direction: ltr;
    -webkit-locale: "en";
}

:root {
    --secondary-clr: #f9ff1e;
}

html {
    font-family: "Cairo", sans-serif;
}

body {
    height: 100vh;
}

/* BASIC ELEMENTS --------------------------------------------------------------- BASIC ELEMENTS -------------------------------------------------------------------------------*/

.mobile-hidden {
    display: none;
}

.tablet-hidden {
    display: none;
}

img {
    max-width: 100%;
    height: auto; 
}

a {
    color: black;
}



picture {
    display: block;
}


/* HEADER -------------------------------------------------------------------- HEADER -------------------------------------------------------------------------------*/
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    border-bottom: 0.1rem solid black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 5px 2em 5px 5px;
    text-transform: uppercase;
    font-weight: bold;
    height: 70px; 
    
    &:lang(ar) {
        padding: 5px 5px 5px 2em;
    }
}

header ul {
    display: -webkit-flex;
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1em;
}

header a {
    /* all: unset; */
    cursor: pointer;
    line-height: 1.25em;
    display: inline-block;
    text-align: justify; 
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

header svg {
    height: 100%;
    width: auto;
} 

header .icon {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .tickets {
    padding: .5em 1em;
    background-color: var(--secondary-clr);
    border: 1px solid black;
    cursor: pointer;

    &:hover {
        background-color: black;
        color: white;
    }

    &:focus + a {
        outline: 1px;
    }
}

header .tickets a:hover {
    text-decoration: none;
}

main {
    height: 100%;
    width: 100%;
    
}

main ul {
    gap: .5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    position: relative;
    overflow: auto;
    justify-content: space-between;
    list-style: none;

    &::before {
        content: '';
        background: linear-gradient(transparent, white);
        position: absolute;
        height: 10%;
        width: 100%;
        bottom: 0;
    } 
}


footer {
    position: fixed;
    bottom: 0;
    width: 50%;
    margin: 2em auto;
    display: flex;

    flex-direction: column;
    justify-content: center;
    overflow: scroll;

    left: 0;
    right: 0;
    gap: 1em;
    text-transform: uppercase;
}

footer ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    list-style: none;
    margin: auto;
}

footer ul button {
    background-color: #464646;  
    color: white;
    padding: .5em 1em;
    outline: none;
    text-wrap: nowrap;
    border: 1px solid #464646;
    text-transform: uppercase;
    font-size: .85em;

    &:hover {
        color: #464646;
        background: white;
        border: 1px solid #464646;
    }
}

footer form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    background-color: white;
    border: 1px solid grey;
    padding: 1em;
    
}

footer label {
    width: 100%;
    /* display: inline-block; */
    position: relative;
    &::after {
        content: '';
        background-color: #464646;
        height: 2px;
        width: calc(100% + 25px);
        display: block;
        position: absolute;
    }
    
}

footer input[type="search"] {
    width: 100%;
    border: none;
    font-size: 1.5em;

    &:focus {
        outline: none;
    }
}

form button {
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    padding: 0;
}

form button svg {
    color: #464646;
}

footer input:placeholder-shown {
    text-transform: uppercase;
}

/* TABLET */
@media screen and (min-width:40rem) {
    .mobile-hidden {
        display: block;
    }

    .tablet-hidden {
        display: none;
    }

    main ul {
        display: block;
        -webkit-column-count: 17em;
        -moz-column-count: 17em;
        column-count: 4;
        -webkit-column-gap: .5em;
        -moz-column-gap: .5em;
        column-gap: .5em;
    }
}

/* DESKTOP */
@media screen and (min-width:60rem) {
    .mobile-hidden {
        display: block;
    }

    .tablet-hidden {
        display: block;
    }
    header ul {
        gap: 2em;
    }

    main ul {
        column-count: 7;
     }
}