@font-face {
    src: url(/BNR-Typography/PJS/PlusJakartaSans-Italic-VariableFont_wght.ttf) format('truetype');
    font-family: 'PJS';
}

:root{
    --BNR-yellow:#FFD200;
    --BNR-black:#000000;
    --BNR-grey:#D7D2CB;
    --BNR-blue:#0095b3;
    --font: 'PJS', helvetica, arial, serif;
}

body {
    margin: 0;
    background-color: var(--BNR-grey);
    color: var(--BNR-black);
    accent-color: var(--BNR-yellow);
    font-family: var(--font);
}

h1{
    margin: auto;
    text-align: center;
}

header{
    display: flex;
    flex-direction: row;

    img{
        display: inline-block;
        padding: 8px;
        width: 75px;
        height: 122px;
    }

}
.audio-player {
    position: fixed;
    bottom: 0;
    margin:auto;
    background-color: var(--BNR-black);
    padding-top: 24px;
    width: 100vw;
    height: 10vh;
    color: var(--BNR-yellow);

    h2{
        font-size: 18px;
        margin-top: -20px;
        margin-bottom: 0;
        margin-inline: 0;
        text-align: left;
    }
    .play-btn-container{
        position: absolute;
        left: 40%;
        margin: auto;
    }

    #play-pause-button{
        animation: pulse 4s 1s infinite linear;
        cursor: pointer;
        margin: auto;
        border: none;
        border-radius: 1000px;
        background-color: var(--BNR-yellow);
        padding: 16px;
    }

    .controls {
        display: flex;
        position: absolute;
        right: -10px;
        bottom: 40px;
        justify-content: end;
        align-items: end;
        transform: rotate(-90deg);

        #volume-control {
            width: 80px;
            height: 15px;
        }
    }

    #current-time {
        position: absolute;
        margin-left: 10px;
        bottom: 10px;
    }
}

@keyframes pulse{
    0%, 50%, 100%{
        transform: scale(1);
    }
    25%, 75%{
        transform: scale(1.1);
    }
}

.banner{
    clip-path: polygon(0 0, 95% 0, 75% 100%, 0% 100%);
    margin-top: 24px;
    margin-bottom: 12px;
    background: var(--BNR-yellow);
    padding: 8px;

    h3{
        font-size: 24px;
    }
}
.news{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-inline: 4px;

    .article{
        display: flex;
        flex-direction: row;
        margin: 8px;
        border-block: 1px solid #00000025;
        max-width: 450px;

        a{
            display: flex;
            flex-direction: row;
            max-width: 450px;
            height: 125px;
            color: var(--BNR-black);
            text-decoration: none;

            figure{
                margin: 0;

                img{
                    width: 125px;
                    height: 125px;
                    object-fit: cover;
                    image-rendering: optimizeQuality;
                }
        }
        figcaption{
            padding: 8px;
        }
    }
}}