@font-face {
    font-family: 'PJS';
    src: url(/BNR-Typography/PJS/PlusJakartaSans-Italic-VariableFont_wght.ttf) format('truetype');
}

:root{
    --BNR-yellow:#FFD200;
    --BNR-black:#000000;
    --BNR-grey:#D7D2CB;
    --font: 'PJS', sans-serif;
}

body {
    font-family: var(--font);
    background-color: var(--BNR-grey);
    color: var(--BNR-black);
    margin: 0;
}

.audio-player {
    width: 400px;
    margin: 20px;

    #audio{visibility: hidden; width: 0; height: 0;}

    .controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    #current-time, #total-time {
        margin-top: 10px;
    }
}

